*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
form{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:fit-content;
    margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    gap:2em;
    padding:1em;
    background:black;
    border:3px solid white;
    border-radius:5px;
    font-family:"Afacad Flux",sans-serif;
   
}
form h1{
    color:white;

}
form label{
    color: white;
    font-size:1.2rem;
}
form input:not(input[type="submit"]){
    padding:.6em; 
    transition: all .4s ease;
    border-radius:5px;  
}
form input[type="submit"]{
    font-size:1rem;
    padding:1em;
    width:200px;
    transition:all .5s ease-in-out;
    border: 2px solid white;
        border-radius: 5px;
}
form input[type="submit"]:hover{
    background:black;
    color:white;
}
.error{
    color:red;
}
form div img{
    width:10px;
    height:10px;
    margin-right:5px;
}
form div p{
    color:white;
}