#shopContainer{
    min-height: 71vh;
            background: url("../resources/tlo_sklepu.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
}
#searchingDiv{
    width: 100%;
    display:flex;
    justify-content:center;
    gap:.5em;
    padding:1em;
}
#searchingDiv input,#searchingDiv select{
    padding:.5em;
    background:black;
    color:gray;
}
#searchingDiv button{
    background:black; 
    padding:.5em;
}
#productList{
    min-height:68vh;
    display:flex;
    flex-wrap:wrap;
    align-items:start;
    justify-content:center;
    width:95%;
    padding:1em;
    gap:1em;
}
.product{
    background:black;
    color:white;
    padding:1em;
    font-family: "Afacad Flux", sans-serif;
    transition:all .5s ease;
    cursor:pointer;
}
.product:hover{
    background:rgb(34, 33, 33);
}
.product img{
    width:300px;
    height: 200px;
}
.productName{
    font-size:1.1rem;
}
#shopContainer footer{
    display:fixed;
    bottom:0;
    
}