footer {
  background: black;
  color: white;
  font-family: "Afacad Flux", sans-serif;
  padding: 1em;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  margin-top: 1em;
}
#home footer {
  bottom: 0;
}
footer.notLoaded {
  position: absolute;
  bottom: 0;
}
footer p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
footer img {
  margin-right: 1em;
}
footer a {
  display: block;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}
footer a:hover {
  color: blue;
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
    align-items: center;
  }
  footer div {
    justify-self: left;
  }
}
