*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    align-content: center;
    font-family: "Afacad Flux", sans-serif;
    padding-top: 0;
}
#shopHeader {
    grid-template-columns: 2.1fr 2.5fr 1.5fr;
    display: grid;
    padding: 1em;
    gap: 1em;
    align-content: center;
    align-items: center;
}
header #logo {
    cursor: pointer;
}
header #logo a {
    display: flex;
    align-items: center;
}
header #logo h1 {
    color: White;
    font-family: "Afacad Flux", sans-serif;
    text-align: left;
    display: inline-block;
    margin-left: .5em;
    font-size: 2rem;
}
header #logo img {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin-top: 1em;
}
#shoppingIcon{
    fill:#ffffff;
    width:35px;
    height:35px;
    justify-self: right;
    cursor: pointer;
}
header #links {
    display:flex;
    gap:1em;
    justify-content:right;
    padding-right:1em;
}
header #links a{
    font-size:1rem; 
}
header #userIcon{
    position:relative;
    cursor:pointer;
}
header #accountDiv{
    display:block;
    position:absolute;
    right:0;
    top:9%;
    display:flex;
    flex-direction:column;
    gap:1em;
    background: black;
    color:white;
    padding:1em;
    border-radius:5px;
    font-family:'Afacad Flux',sans-serif;
    z-index:1000;
}
header #accountDiv h3{
    color:gray;
}
header #accountDiv.invisible{
    display:none;
}
header #accountDiv a{
    font-size:.9rem;    
}
header #accountDiv img{
    width:70px;
    height:70px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
header #shoppingIcons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1em;
}
@media screen and (max-width:1000px){
    #shopHeader{
        grid-template-columns:1.2fr 1fr 1fr;
    }
    header #logo img{
        width:130px;
        height:70px;
    }
}
@media screen and (max-width:870px){
    #shopHeader{
        grid-template-columns:1.4fr 1fr .5fr;
    }
    #header #logo h1{
        font-size:1.9rem;
    }
}
@media screen and (max-width:815px){
    #links a{
        font-size:.8rem;
    }
    #accountDiv img{
        width:50px;
        height:50px;
    }
}
@media screen and (max-width:700px){
    #shopHeader {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    #shopHeader #links {
        justify-content: center;
        gap: 1em;
    }
    #shopHeader #shoppingIcons{
        justify-content: center;
    }
    #shopHeader #logo{
        justify-self: center;
    }
}

@media screen and (max-width:400px){
    header{
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr;
    }
   header #logo{
    justify-self: center;
   }
    header #links{
        justify-content:center;
        gap:1em;
    }
    #shoppingIcons{
        justify-content: center;
    }
    #searchingDiv{
        display:grid;
        grid-template-rows:repeat(4,1fr);
        grid-template-columns:1fr;
    }
}