#home{
    background: url("../resources/zdjecie_warsztatu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height:100vh;
}
