* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#openedProductContainer {
  min-height: 100vh;
  background: url("../resources/mechanic_photo.jpg");
}
#openedProduct {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  min-height: 80vh;
}
#openedProduct h1 {
  font-family: "Afacad Flux", sans-serif;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
#openedProduct img {
  display: block;
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
#text {
  height: 450px;
}
#openedProduct p:not(#isNotSignedParagraph, .error),
#panel label {
  margin-top: 1em;
  font-size: 1.1rem;
  font-family: "Afacad Flux", sans-serif;
  color: white;
}
#panel div {
  margin-top: 1em;
}
#panel {
  display: grid;
  grid-auto-rows: 1fr;
  position: relative;
  background: black;
  width: fit-content;
  padding: 1em;
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
  border-radius: 5px;
}

#panel select {
  margin-left: 0.6em;
  padding: 0.6em;
}
#panel button {
  background: green;
  padding: 1em;
  border-radius: 5px;
  color: white;
  border: none;
  width: 100%;
  height: fit-content;
  align-self: last baseline;
}
#isNotSignedParagraph {
  margin-top: 0.6em;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
#openedProduct #panel p.available{
  color:green;
}
.error {
  color: red;
}
#openedProductContainer footer {
  bottom: 0;
}
@media screen and (max-width: 933px) {
  #openedProduct {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #openedProductContainer footer {
    position: relative;
  }
}
@media screen and (max-width: 510px) {
  #openedProduct h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  #openedProductContainer footer {
    margin-top: 3em;
  }
}
@media screen and (max-width: 670px) {
  #openedProduct img {
    width: 300px;
    height: 300px;
  }
  #openedProduct p:not(#isNotSignedParagraph, .error),
  #panel label {
    font-size: 1rem;
  }
  #panel {
    gap: 0.6em;
  }
}
