*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#resetPasswordContainer{
    min-height: 80vh;
}
#resetPasswordContainer h1{
    text-align:center;
}
#resetPasswordContainer .visible{
    display:flex;
}
#resetPasswordContainer .invisible{
    display:none;
}
form input[type="submit"]{
    width:fit-content;
    font-size:.8rem;
}
#checkUsername,#checkRecoveryCode,#setNewPassword{
    display:flex;
    flex-direction: column;
    gap:1em;
    padding:2em;
}